.hint {
  cursor: pointer;
  width: 100%;
  transition: background-color ease-in-out 150ms;
  padding: 0.5rem;
  border-bottom: 1px solid var(--gray-1);
}

.hint .highlighted {
  background-color: var(--highlight-text);
  font-weight: bold;
}

.hint:hover {
  background-color: var(--highlight-item);
}
