.autocomplete {
  width: 100%;
  max-width: 400px;
}

.input {
  width: 100%;
  height: 1rem;
  padding: 0.5rem;
}

.autocomplete .dropdown {
  display: flex;
  flex-direction: column;
}

.loader, .error {
  padding: 0.5rem
}
